<html>
  <head>
    <title>To Do List</title>
    <link rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>
  <body>
    <div class="todo-container">
      <h2>Very Important Things To Do</h2>
      <div class="todo">
        <form action="/" method="POST" class="todo-header">
          <input type="text" name="title">
          <button type="submit"><span class="fas fa-plus"></span></button>
        </form>
        <ul class="todo-list">
          <% if (tasks.length > 0) { %> 
            <% for (let task of tasks) { %>
              <li class="todo-list-item">
              <div class="todo-list-item-name"><%= task.title %></div>
              <div class="button-container">
              <a href="/edit/<%= task.id %>" class="edit">
                <span class="fas fa-edit"></span>
              </a>
              <form action="/remove/<%= task.id %>" method="POST">
                <input type="hidden" value="<%= task.id %>" name="taskId">
                <button class="cancel" type="submit">DELETE</button>
              </form>
              </div>
              </li>
            <% } %>
          <% } %> 
        </ul>
      </div>
    </div>
  </body>
</html>