<html>
  <head>
    <title>To Do List</title>
  </head>
  <body>
    <h1>I Have Important Things To Do</h1>
    <form action="/" method="POST">
      <input type="text" name="title">
      <button type="submit">Add Task</button>
    </form>
    <ul>
      <% if (tasks.length > 0) { %> 
        <% for (let task of tasks) { %>
          <li>
          <div><%= task.title %></div>
          <a href="" class="edit">
            <span></span>
          </a>
          <a href="" class="remove">
            <span></span>
          </a>
          </li>
        <% } %>
      <% } %> 
    </ul>
  </body>
</html>